<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DataStoreSection" type="Tavisca.Frameworks.Session.Configuration.SessionSection, Tavisca.Frameworks.Session" />
    <section name="CassandraSection" type="Tavisca.Frameworks.Session.Configuration.SessionSection, Tavisca.Frameworks.Session"/>
  </configSections>

  <DataStoreSection applicationKey="blah" provider="Cassandra" connString="192.168.2.56;simplex" expireIn="300" />
  <!--<DataStoreSection applicationKey="blah" provider="Sql" connString="Name=apiSession" expireIn="300" />-->

  <connectionStrings>
    <add name="apiSession"
            connectionString="Data Source=sukhoie;Initial Catalog=dscepterdb;Integrated Security=True"
            providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>

    <add key="CallCount" value="50"/>

  </appSettings>
</configuration>