<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SecureAppSettings" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>

  <SecureAppSettings>
    <add key="EncryptionKey" value="238TA67432VI5SCA"/>
  </SecureAppSettings>
  <appSettings>
    <add key="targetConnectionKeys" value="1"/>
    <add key="1" value="bMx9a9VkHeIG+yRuvUz/K4M1WKF7VqvNf/VWyDCw2bFwzczP+hK2Q4Sniy/DxldDA00P4XELu0Vrz3jNgjp+VpGmE4KYMa9T48boPz8pokTBtFx38kg8BCGZc0FidgFgYThr2WNdY7W58tRDlqib6rkWHOLnx9PgJ6WjOuWMklY="/>
  </appSettings>
</configuration>
