<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="DataStore" type="Tavisca.Frameworks.Session.Configuration.SessionSection, Tavisca.Frameworks.Session"/>
    <section name="CassandraSection" type="Tavisca.Frameworks.Session.Configuration.SessionSection, Tavisca.Frameworks.Session"/>
    <section name="SecureAppSettings" type="System.Configuration.NameValueSectionHandler,System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
  </configSections>

  <!--<DataStore applicationKey="blah" provider="Sql" formatter="ProtoBufCompressed"
                    connString="Tavisca.Frameworks.Session.Properties.Settings.dScepterDBConnectionString" 
                    expireIn="300" />-->

  <DataStore applicationKey="AirEngine" provider="Redis" formatter="ProtoBufCompressed" maxAsyncThreads="5" connString="192.168.2.56" expireIn="300"/>

  <connectionStrings>
    <add name="Tavisca.Frameworks.Session.Properties.Settings.dScepterDBConnectionString" connectionString="Data Source=sukhoie;Initial Catalog=dscepterdb;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <SecureAppSettings>
    <add key="EncryptionKey" value="238TA67432VI5SCA"/>
  </SecureAppSettings>
  
  <appSettings>
    <add key="CallCount" value="50"/>
    <add key="dynamoMgrConnString" value="bMx9a9VkHeIG+yRuvUz/K4M1WKF7VqvNf/VWyDCw2bFwzczP+hK2Q9DyuM5YOczrUnzPdvSDLVlHH3iMUGcneWj4gGeQTAnwMXuES98LtJYcBQTTkUylHePXiFJMArqMhpjNxmZddtLiGmw0T7R7HAgEznzD0UNn"/>
    <add key="dynamoConnString" value="bMx9a9VkHeIG+yRuvUz/K4M1WKF7VqvNf/VWyDCw2bFwzczP+hK2Q9DyuM5YOczrUnzPdvSDLVlc9rLUasHZ9RQ55o2JHz+kI8MVXAG/lgvR1HUQsu8Ae1043BE1EHo6ETnwH8iccFzpiBfDW3FvpXYnTfcbMBJi"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
